<form id='lockout' method="post" action="">
	<div class="row-fluid">
		<div class="span6 offset3">
			<div class="login-screen">
				<div class="login-logo">
					<p><img src="/img/prenostik_logo_black_on_white_teal.png" width="300" height="59"/></p>
				</div>

				<div class="login-form">
					<h3>Error: Too many login attempts</h3>
					<h6>This account has been locked.  Please check your email for further information.</h6>
					<br><br>
					<input type="submit" class="btn btn-primary btn-large btn-block" value="Okay"/>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">		
		<div class="span4 offset4 text-center">
			<div class="login-version">Version: {{AppVersion}}</div>
		</div>
	</div>
</form>