<div class="row-fluid">
    <div class="span12 analyze-sections">
        <div class="analyze-section section-trending">
            <div id="emptyCalculationMessage">

                <div class="alert alert-info">
                    <h3>Welcome.</h3>
                    <p>This is where it all begins. You can perform calculations, create new snapshots to easily compare results, and save
                        <a href="/manage/snapshots" data-toggle="tooltip" title="Snapshots are saved calculations">snapshots</a> to easily recall them later. <!-- Worksheets can be further organized into
							<a href="#" data-toggle="tooltip" title="Workbooks are a named collection of worksheets">workbooks</a> and
							<a href="#" data-toggle="tooltip" title="Projects are a named collection of workbooks">projects</a>.-->
                    </p>
                    <p class="text-center">
                        <a href="/analyze/trending" class="btn btn-info btn-large-icon btn-wide btn-options-clone">
                            <i class="icon-bar-chart"></i>
                            Start New Calculation
                        </a>
                        <a href="#" class="btn btn-wide btn-large-icon btn-open-worksheet">
                            <i class="icon-folder-open"></i>
                            Open Snapshot
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="openWorksheetModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Open Snapshot</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <!--<a href="#" class="btn btn-primary">Open Worksheet</a>-->
    </div>
</div>