<div class="row-fluid">
	<div class="span12">
		<h1>Prenostik Account</h1>
		<h1>Management</h1>
		<hr>
	</div>
</div>

<div id="sectionContainer">
	<div class="row-fluid">
		<div class="alert alert-info">				
			<p class="text-center">
				<a href="#" id='add_account' class="btn btn-wide btn-large-icon btn-primary btn-add-account" style="visibility:hidden"> 
					<i class="icon-plus"></i>
					Add a New Account
				</a>
				<a href="#" id='edit_account' class="btn btn-wide btn-large-icon btn-primary btn-edit-account" style="visibility:hidden">
					<i class="icon-th"></i>
					Edit Account
				</a>
				<a href="#" id='deactivate_account' class="btn btn-wide btn-large-icon btn-primary btn-deactivate-account" style="visibility:hidden"> 
					<i class="icon-minus"></i>
					Suspend an Account
				</a>					
			</p>
		</div>
	</div>
</div>
