<div class="row-fluid">
	<div class="span12">
		<h1>
			<a href="javascript: history.go(-1);" data-original-title="Back to Datasets" data-toggle="tooltip"><i class="icon-chevron-sign-left"></i></a> {{type}} > Add Category
		</h1>
		<hr>
	</div>
</div>
<form method="POST" action="/manage/categories/add" id="addCategoryForm">
	<div class="rows">
		<div class="row-fluid row-container">
			<div class="span6">
				<label> Category Name</label>
				<input type="text" name="name" minlength="1" required />
				{{#equal type "Snapshot"}}
			        <input type="hidden" name="categorytype" value="1"/>
			    {{else}}
			        <input type="hidden" name="categorytype" value="0"/>
			    {{/equal}}

			</div>
		</div>
	</div>

	<hr>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner" style="padding-bottom: 5px; padding-right: 5px;">
            <div class="btn-group pull-right">
                <button type="button" style="width: 220px;" id="btn-cancel" class="btn btn-default">Cancel</button>
                <button type="submit" style="width: 220px;" id="btn-continue" class="btn btn-default btn-primary">Continue</button>
            </div>
        </div>
    </div>
</form>
