.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    width: 20%;
    min-height: 100vh;
    background: #333;
}

.sidebar-nav a {
    display: flex;
    width: 100%;
    padding: 5px;
    color: white;
}