.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    max-width: 200px;
    min-height: 100vh;
    background: #333;
}

.sidebar-nav a {
    display: flex;
    width: 200px;
    padding: 5px;
    color: white;
}