#my-files-col {
    border-right: 1px solid #ccc;
}

.btn-dark {
    margin-right: 5px;
    margin-left: 10px;
}

.btn-danger {
    margin-left: 160px;
}

.entry-category {
    margin-top: 5px;
    padding: 3px;
    font-weight: bold;
    border: 1px solid #ccc;
    cursor: pointer;
}