.steps-content {
  margin-top: 10px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 550px;
  text-align: left;
  padding-top: 20px;
}

.steps-action {
  margin-top: 15px;  
}

.button1 {

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  background: #DCDCDC;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
  float:right;
}

.button1:hover {
  background: #20B2AA;
  text-decoration: none;
}